# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android
.gradle/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# Node / Firebase Functions
**/node_modules/

# Logs
*.log

# IDE
.idea/
.vscode/

# Firebase local cache
.firebase/